"\e[27;8;27~": ""
"\e[27;7;27~": ""
"\e[27;6;27~": ""
"\e[27;4;27~": ""
"\e[27;5;27~": ""
"\e[27;3;27~": ""
"\e[27;2;27~": ""
"\e[27;5;50~": ""
"\e[27;5;51~": ""
"\e[27;5;52~": ""
"\e[27;5;53~": ""
"\e[27;5;54~": ""
"\e[27;5;55~": ""
"\e[27;5;56~": ""
"\e[27;5;64~": ""
"\e[27;5;91~": ""
"\e[27;5;94~": ""
"\e[27;5;95~": ""
"\e[27;5;96~": ""
"\e[27;5;105~": ""
"\e[27;5;109~": ""

"\e[27;5;123~": ""
"\e[27;5;124~": ""
"\e[27;5;125~": ""
"\e[27;5;126~": ""

# for some reason binding ctrl+w directly doesn't work
C-w: "\e[01"
"\e[01": kill-region

# tab: complete
TAB: menu-complete
# shift+tab
"\e[Z": menu-complete-backward

# ctrl+tab: list completions (note: I have ctrl+tab configured to send "\e[27;5;9~")
# "\e[02" can be any string as long as it doesn't collide with actual keypresses, I'm just using it to run complete twice.
"\e[27;5;9~": "\e[02\e[02"
"\e[02": complete
#TODO: running this will exit out of menu-complete mode
# among other things...
# maybe have it delete space before cursor if necessary?

# see: man readline
set colored-stats On
set page-completions Off
set completion-query-items 1000
#set completion-ignore-case On
set completion-map-case On

set enable-bracketed-paste On